{% load static %}
<div class="container-profile">
    <div class="profile">
        <picture class="profile">
            <img src='{% static "imgs/profile.jpg" %}' alt="">
        </picture>
        <h2 class="font-titan user-name">Anakin Sin Skin Woker{{ request.user.username }}</h2>
        <small>Crazy Monkey</small>
    </div>
    
    <ul class="medals-container">
        <!-- <li> -->
            <img src="" alt="">
        <!-- </li> -->  
        <!-- <li> -->
            <img src="" alt="">
        <!-- </li> -->
        <!-- <li> -->
            <img src="" alt="">
        <!-- </li> -->
        <!-- <li> -->
            <img src="" alt="">
        <!-- </li> -->
    </ul>
    
    <div class="profile-user__points">
        <span class="font-titan">120hp</span>
    </div>
</div>
<nav class="menu-aside">
    <ul class="menu-aside__list">
        <li>
            <img src="{% static 'icons/home.svg' %}" alt="Descripción del icono">
            <a href="">Inicio</a>
        </li>
        <li>
            <img src="{% static 'icons/joystick.svg' %}" alt="Descripción del icono">
            <a href="">Juegos</a>
        </li>
        <li>
            <img src="{% static 'icons/bar_chart_4_bars.svg' %}" alt="Descripción del icono">
            <a href="">Posiciones</a>
        </li>
        <li>
            <img src="{% static 'icons/clear_all.svg' %}" alt="Descripción del icono">
            <a href="">Historial</a>
        </li>
        <li>
            <img src="{% static 'icons/logout.svg' %}" alt="Descripción del icono">
            <a href="">Cerrar Sesión</a>
        </li>
    </ul>
</nav>

<div class="aside-stripe">

</div>