{% extends "index.html" %}
{% load static %}


{% block head %}{% endblock %}

{% block title %} GameHub | Bienvenido {% endblock %}


{% block css %}
    <link type="text/css" rel="stylesheet" href='{% static "css/home.css" %}'>
    {% block local_css %}
        
    {% endblock %}
{% endblock %}

{% block header %}
    {% include '_header.html' %}
    <!-- {{ block.super }} -->
{% endblock %}



{% block aside %}
    {% include '_sidebar.html' %}
{% endblock %}


{% block main %}
    <!-- <div class="game-container">
        <div>
            <h1>Damas Chinas</h1>
        </div>
        <div>
            <h1>Tic Tac Toe</h1>
        </div>
        <div>
            <h1>Sopa de Letras</h1>
        </div>
    </div> -->
{% endblock %}



{% block js  %}

{% endblock  %}
