{% extends "external.html" %}
{% load static %}


{% block title %} Registro | GameHub {% endblock %}


{% block css %}
    
{% endblock %}

{% block header %}

{% endblock %}



{% block aside %}
    
{% endblock %}


{% block main %}

    <section>
        <div class="form-container">
            <h2>Registro</h2>
            <form method="post" class="">
                {% csrf_token %}
                <input type="text" name="{{ form.first_name.name }}" placeholder="Nombre" value="{{ form.first_name.value|default_if_none:'' }}" class="" />
                <input type="text" name="{{ form.last_name.name }}" placeholder="Apellido" value="{{ form.last_name.value|default_if_none:'' }}" class="" />

                <input type="email" name="{{ form.email.name }}" placeholder="Correo electrónico" value="{{ form.email.value|default_if_none:'' }}" class="" />
                <input type="text" name="{{ form.username.name }}" placeholder="Nombre de usuario" value="{{ form.username.value|default_if_none:'' }}" class="" />

                <input type="password" name="{{ form.password1.name }}" placeholder="Contraseña" class="" />
                <input type="password" name="{{ form.password2.name }}" placeholder="Confirmar contraseña" class="" />

                <!-- <input type="url" name="{{ form.profile_picture.name }}" placeholder="Link de foto de perfil" class="" /> -->

                <button type="submit" class="">Registrarse</button>
            </form>
        </div>
        {% if messages %}
            <div>hola</div>
        {% endif %}
        <svg class="self-end" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#5000ca" fill-opacity="1" d="M0,160L60,160C120,160,240,160,360,181.3C480,203,600,245,720,250.7C840,256,960,224,1080,197.3C1200,171,1320,149,1380,138.7L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
    </section>

{% endblock %}



{% block js  %}

{% endblock  %}
