{% extends "internal.html" %}
{% load static %}


{% block title %} X0 | GameHub {% endblock %}


{% block css %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static 'tic_tac_toe/css/styles.css' %}">
{% endblock %}

{% block header %}
    {% include '_header.html' %}
    <!-- {{ block.super }} -->
{% endblock %}



{% block aside %}
    {% include '_sidebar.html' %}
{% endblock %}


{% block main %}
{{ block.super }}
    <div>
        <h1>X0</h1>
        <label>¿Quieres conectarte?</label>
        <input type="radio" id="connected" name="connection" value="connected"> Conectado
        <input type="radio" id="disconnected" name="connection" value="disconnected" checked> Desconectado
        <input type="text" id="username" placeholder="Ingresa tu nombre">
        <button id="generate">Botón Rojo</button>
        <div id="status">No hay nadie más esperando.</div>
        <div id="timer">Espera: 0s</div>
        <ul id="random-numbers"></ul>
    </div>
{% endblock %}



{% block js  %}

<script src="{% static 'tic_tac_toe/js/controller.js' %}"></script>

{% endblock  %}
