{% extends "internal.html" %}
{% load static %}


{% block title %} X0 | GameHub {% endblock %}


{% block css %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static 'tic_tac_toe/css/styles.css' %}">
{% endblock %}

{% block header %}
    {% include '_header.html' %}
    <!-- {{ block.super }} -->
{% endblock %}



{% block aside %}
    {% include '_sidebar.html' %}
{% endblock %}


{% block main %}
    <h1>X0</h1>
{% endblock %}



{% block js  %}

<script src="{% static 'tic_tac_toe/js/controller.js' %}"></script>

{% endblock  %}
