{% extends "internal.html" %}
{% load static %}


{% block title %} Sopa de Letras | GameHub {% endblock %}


{% block css %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static 'word_search/css/styles.css' %}">
    
{% endblock %}

{% block header %}
    {% include '_header.html' %}
    <!-- {{ block.super }} -->
{% endblock %}



{% block aside %}
    {% include '_sidebar.html' %}
{% endblock %}


{% block main %}
{{ block.super }}
    <h1 class="title-words">Sopa de Letras: {{ category }}</h1>
    <small>Dificultad: {{ difficulty }}</small>
    <div class="container-words">
        <div id="board" class="board"></div>
        <ul id="wordList" class="word-list">
            {% for word in words %}
                <li data-word="{{ word }}">{{ word }}</li>
            {% empty %}
                <li>No hay palabras Disponibles.</li>
            {% endfor %}
        </ul>
        <div class="attempts">
            <h3>Cantidad de Intentos</h3>
            <output>0</output>
        </div>
    </div>
        
{% endblock %}



{% block js  %}
    <script src="{% static 'word_search/js/controller.js' %}"></script>
{% endblock  %}
